.card{
    margin-top: 40px;
    margin: 20px;
    width: 282px;
}

.card-inner{
    padding: 12px;
    background-color: rgba(235, 236, 240, 1);

    .card-title{
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 15px;
    }
}

.card-button{
    display: flex;
    justify-content: space-between;
}

.card-button > button{
    border: 0px;
    color: rgba(94, 108, 132, 1);
}

.title-task_input{
    border: 0;
}

.task-link {
    text-decoration: none;
    color: inherit;
    display: block;
}

.task {
    padding: 5px;
    background-color: #fff;
    margin-bottom: 15px;
    cursor: pointer;
}

.ready-dropDown {
    .dropdown-item {
        padding: 5px;
        background-color: #fff;
        width: 219px;
        margin-bottom: 5px;
        cursor: pointer;
    }
    .dropdown-item:hover {
        background-color: rgb(214, 214, 214);
    }
}

.card-button > button{
    cursor: pointer;
}

